/*Seletor Universal
*{
	border: 1px solid red;
}*/

/*Seletor de classe */
/*
.verde {
	color: green;
}

p.verde {
	color: green;
} */

/*****************************
Seletor de filho 
li>a {
	color: red;
	text-decoration: none;
}*/

/*Heranca*/

body {
	color: red;
	border: 1px solid blue;
}